<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-descripcion *ngIf="this.event" [event]="this.event"></app-descripcion>
  <app-eventos (messageEvent)=receiveMessage($event)></app-eventos>
  <app-eventos (messageEvent)=receiveMessage($event)></app-eventos>
  <app-eventos (messageEvent)=receiveMessage($event)></app-eventos>
  <app-eventos (messageEvent)=receiveMessage($event)></app-eventos>
  <app-eventos (messageEvent)=receiveMessage($event)></app-eventos>
  <app-eventos (messageEvent)=receiveMessage($event)></app-eventos>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
